@model IEnumerable<ProjectSem3.Areas.Admin.Models.Accounts>

@foreach (var item in Model)
{
<div class="content-wrapper" style="min-height: 1631.75px;">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-10">
                    <h1>Profile</h1>
                </div>

            </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle" src="~/dist/img/user4-128x128.jpg" alt="User profile picture">
                            </div>

                            <h3 class="profile-username text-center">@item.FirstName @item.LastName</h3>


                            <ul class="list-group list-group-unbordered mb-6">
                                <li class="list-group-item">
                                    <b>Role</b> <a class="float-right">@item.Role</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">About Me</h3>
                        </div>
                        <div class="card-body">
                            <strong><i class="fas fa-book mr-1"></i> Email</strong>

                            <p class="text-muted">
                                @item.Email
                            </p>

                            <hr>

                            <strong><i class="fas fa-map-marker-alt mr-1"></i> Phone</strong>

                            <p class="text-muted">@item.Phone</p>

                            <hr>
                            <strong><i class="fas fa-map-marker-alt mr-1"></i> Age</strong>
                            @if (item.DoB != null)
                            {
                                var today = DateTime.Today;
                                var age = today.Year - item.DoB.Year;
                                if (item.DoB > today.AddYears(-age))
                                {
                                    age--;
                                }
                        <p class="text-muted">@age years old</p>
                               
                            }
                            <hr>

                            <strong><i class="far fa-file-alt mr-1"></i> Address</strong>

                            <p class="text-muted">@item.Street, @item.District, @item.State, @item.City, @item.Country</p>
                        </div>
                        <a href="#">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
}


